# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datasets
datasets/
*.npz
*.npy
*.hdf
*.h5
*.csv


# Compressed files
.zip
.tar
.gz
.rar
.7z
.tgz

# Reference projects
DyGLib/
DyGLib
benchtemp/

# Logger
logs/
*.log
**/lightning_logs/
**tfevents.*

# PyTorch model files
checkpoints/
*.pt
*.pth
*.ckpt

# C extensions
*.so

# OS files
*.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
Pipfile.lock
poetry.lock
.pdm.toml
.pdm-python
.pdm-build/

# mkdocs documentation
/site

# Cython debug symbols
cython_debug/

# IDE configs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# GPT assistants
.claude
CLAUDE.md

.cursor
